---
layout: default
title: Home
path: home
---

<div class="container mx-auto h-screen flex flex-col justify-center items-center">
  <h1>Welkom bij <strong class="text-blue-500">Esja Network</strong></h1>

  <br/>
  <span>Beste klanten, <strong>We zijn er even tussen uit</strong> en daarom momenteel gesloten.</span>
  <span>We kijken ernaar uit om u vanaf <strong>Donderdag 15 Januari</strong> weer van dienst te zijn! Fijne feestdagen!</span>
  
  {% include "./_includes/partials/content.html" %}
</div>

{% include "./_includes/partials/footer-fixed.html" %}
