---
layout: default
title: Home
path: home
---

<div class="container mx-auto h-screen flex flex-col justify-center items-center">
  <h1>Welkom bij <strong class="text-blue-500">Esja Network</strong></h1>
  
  <br/>
  <span>Beste klanten, <strong>een kleine onderbreking</strong>: wij zijn gesloten tot en met Maandag 20 Januari.</span>
  <span>We kijken ernaar uit om vanaf <strong>Dinsdag 21 Januari</strong> u weer van dienst te zijn!</span>

  {% include "./_includes/partials/content.html" %}
</div>

{% include "./_includes/partials/footer-fixed.html" %}
