---
layout: default
title: Home
path: home
---

<div class="container mx-auto h-screen flex flex-col justify-center items-center">
  <h1>Welkom bij <strong class="text-blue-500">Esja Network</strong></h1>

  <!-- <br/>
  <span>Beste klanten, vanaf <strong>6 April</strong> zijn wij er even tussen uit in verband met Pasen en Vakantie.</span>
  <span>We kijken ernaar uit om u vanaf <strong>28 April</strong> weer van dienst te zijn!</span> -->
  
  {% include "./_includes/partials/content.html" %}
</div>

{% include "./_includes/partials/footer-fixed.html" %}
